<%= form_with model: [:admin, @author], local: true do |f| %>
  <%= render partial: "shared/errors", locals: {resource: @author} %>
  <div class="field">
    <%= f.label :author_name, class: "label" %>
    <div class="control">
      <%= f.text_field :author_name, class: "input" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :country, class: "label" %>
    <div class="control">
      <%= f.text_field :country, class: "input" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :biography, class: "label" %>
    <%= f.rich_text_area :biography %>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <%= f.submit 'Criar', class: 'button is-link' %>
    </div>
    <div class="control">
      <%= link_to 'Voltar', admin_authors_path, class: 'button is-link is-light' %>
    </div>
  </div>
<% end %>