<%= form_with model: [:admin, @publisher], local: true do |f| %>
  <%= render partial: "admin/shared/errors", locals: {resource: @publisher} %>
  
  <div class="field">
    <%= f.label :title, class: "label" %>
    <div class="control">
      <%= f.text_field :title, class: "input" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :country, class: "label" %>
    <div class="control">
      <%= f.text_field :country, class: "input" %>
    </div>
  </div>
  <div class="field">
    <%= f.label :description, class: "label" %>
    <div class="control">
      <%= f.rich_text_area :description %>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <%= f.submit 'Criar', class: 'button is-link' %>
    </div>
    <div class="control">
      <%= link_to 'Voltar', admin_publishers_path, class: 'button is-link is-light' %>
    </div>
  </div>
<% end %>