<!DOCTYPE html>
<html>

<head>
  <title>BibliotecaRails</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <%= link_to "MyBooks", root_path, class: "navbar-item" %>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item">
          Home
        </a>

        <a class="navbar-item">
          Documentation
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              About
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
        </div>
      </div>

      <div class="navbar-end">
        <% if current_user.present? %>
          <% if current_user.admin? %>
            <%= link_to "Ãrea Administrativa", admin_home_index_path, class: "navbar-item" %>
          <% end %>
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to "Sair", destroy_user_session_path, method: :delete, class: "button is-danger" %>
            </div>
          </div>
        <% end %>

        <% unless user_signed_in? %>
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to "Cadastrar-se", new_user_registration_path, class: "button is-primary" %>
              <%= link_to "Login", new_user_session_path, class: "button is-light" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </nav>
  <div class="container">
    <%= yield %>
  </div>
</body>

</html>